*
{
	margin:0;
	padding:0;
}
body { 
   font: 14px Tahoma, Arial, Sans-Serif; 
   color: #000;
   background:	#EFEBE9; }

a {
	text-decoration: none;
	color: #000; }

a:hover { color: #000; }
	
.x { clear: both; }

p {
	line-height: 22px;
	margin: 0 0 22px; 
	color:#666; }

img { border: 0; }

h1 {
	font-size: 24px;
	font-family:'New Rocker';
	font-weight: normal;
	margin-bottom: 15px;
	text-shadow:5px 5px 10px #1A237E;
	box-shadow:5px 5px 5px #1A237E;}

h2{ 
   font-size: 14px;
   font-weight: bolder; 
   margin-bottom: 10px;
   color: #333;
   text-shadow:3px 3px 5px #9C27B0; }

.efekt
{
	transition:.5s;
}
#sayfa { 
    margin: 0 auto;
	width: 980px; 
	background: url(../images/banner.jpg) no-repeat;
	background-size:cover;

	}

#logo { 
   padding: 20px 12px 10px;
   width:400px;
   font-size:30px;
   letter-spacing:3px;
   font-family:Impact;
   box-shadow:5px 5px 10px grey;
   text-shadow:5px 5px 10px #311b92;
  
}

#logo h1 {
	font: bold 24px Arial;
	text-shadow: 1px 1px 1px #fff;
	letter-spacing: 4px; }

#logo h1 a { color: #333; }

#logo h1 a span { color: #311b92; }

#content { 
    background: #f5f5f5; 
    width: 980px; 
	height:1145px;
}


.bas ul
{
	padding:0;
	margin:0;
	list-style-type:none;
	border-bottom:1px solid #311b92;
	
}

.bas li
{
	 
	position:relative;
}

.bas li ul
{ 
	position:absolute;
	width:150px;
	list-style-type:none;
	left:200px;
	display:none;
	top:0;
	
}

.bas ul {
	width:200px;
	 transition: .5s;
}

.bas li a 
{
	display:block;
	text-decoration:none;
	background:#f5f5f5;
	color:#000;
	border-bottom:0px;
	padding:5px;
	border:1px solid #000;
	border-bottom:0;
	font:bold 13px verdana;

	 
}

.bas ul li a:hover {
	background:#c5cae9;
	color:black;	
	
}

.bas li:hover ul
{
	display:block;
}

#sol
{
	width:50%;
	float:left;
	margin-left:25px;
	display:inline;
	
}

#sağ
{
	width:400px;
	float:right;
	margin-right:25px;
	padding-left:36px;
	display:inline;	
	
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow {

  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.yukarı
{
	float: right;

}

#footer { 
    float :left;
    color: #666; 
	font-size: 11px; 
	margin: 20px 0 20px 10px; }